@font-face {
  font-family: "Cardinal";
  src: url("../fonts/Cardinal.ttf");
}

body{
  background-image: url("../images/parchemin.png");
  background-size: cover;
}

p{
  text-indent: 50px;
  padding-left: 75px;
  padding-right: 80px;
  margin-left: 50px;
  font-size: 23px;
  font-family: Cardinal;
  color: #222222;
}

span{
  color : black;
  font-weight: bold;
}

div{
  margin: 15%
}
